# ROR testing

## Setup and inits

### Imports

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from SPARQLWrapper import SPARQLWrapper, JSON
import pandas as pd
# import dask, boto3
# import dask.dataframe as dd
import numpy as np
import json
import geopandas
import matplotlib.pyplot as plt
import shapely
# import kglab as kg

sparqlep = "https://ts.collaborium.io/blazegraph/namespace/development/sparql"

### Support Functions

In [2]:
#@title
def get_sparql_dataframe(service, query):
    """
    Helper function to convert SPARQL results into a Pandas data frame.
    """
    sparql = SPARQLWrapper(service)
    sparql.setQuery(query)
    sparql.setReturnFormat(JSON)
    result = sparql.query()

    processed_results = json.load(result.response)
    cols = processed_results['head']['vars']

    out = []
    for row in processed_results['results']['bindings']:
        item = []
        for c in cols:
            item.append(row.get(c, {}).get('value'))
        out.append(item)

    return pd.DataFrame(out, columns=cols)

## Queries

What follows is a set of queries designed to provide a feel for the OIH graph

### Simple Count

How many triples are there?

In [3]:
rq_count = """SELECT (COUNT(*) as ?Triples) 
WHERE 
  {
      { ?s ?p ?o } 
  }
"""

In [4]:
dfsc = get_sparql_dataframe(sparqlep, rq_count)
dfsc.head()

   Triples
0  5546932

## Notes

In [6]:
rq_pcount = """prefix prov: <http://www.w3.org/ns/prov#>
PREFIX con: <http://www.ontotext.com/connectors/lucene#>
PREFIX luc: <http://www.ontotext.com/owlim/lucene#>
PREFIX con-inst: <http://www.ontotext.com/connectors/lucene/instance#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX schema: <https://schema.org/>
PREFIX schemaold: <http://schema.org/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

SELECT DISTINCT ?name
WHERE
{
  ?s a schema:Organization .
  ?s schema:name ?name 

}     
"""
dfc = get_sparql_dataframe(sparqlep, rq_pcount)
dfc.head(20)

                                                 name
0                                            aquadocs
1                                            marineie
2                                      marinetraining
3                                                obis
4                                                obps
5                                        oceanexperts
6   California Cooperative Oceanic Fisheries Inves...
7                    IFREMER for Argo Data Management
8   The Institute for Marine and Antarctic Studies...
9                                          SeaDataNet
10  MARine Litter in Europe Seas: Social AwarenesS...
11  Copernicus Marine Environmental Monitoring Ser...
12                       National Oceanography Centre
13  International Council for the Exploration of t...
14                                             Unesco
15  NOAA, NOS Center for Operational Oceanographic...
16                              NOAA/NOS/CO-OPS/OSTEP
17                               NOAA Printing Office
18  U.S. Department of Commerce, National Oceanic ...
19                                          WMO & IOC

## ROR parts


Look at https://github.com/Metadata-Game-Changers/RORRetriever/blob/main/RORRetriever.py